<style>

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

</style>


<div style = "text-align:center">
  <div><p i18n="title|app component title@@title">Welcome to directive sample</p></div>
  <div><p i18n="description|app component description@@description">please change the text to preffered</p></div>
</div>

 <router-outlet></router-outlet> 