<div style="text-align:center">
  <p>observablemethods works!</p>
  <form>
      <div class="form-group" >
        <label for="Search">Search</label>
        <input style="position:absolute;width:50%;left:25%;right:25%" type="text" class="form-control"  placeholder="Search text" #myinput>
      </div>
   </form><br>  
  <button (click)="fetchData()">fetch data</button>
  <button (click)="opertors()">operators</button>
</div>

<div style="position:absolute;left:50%;top:50%;-webkit-transform: translate(-50%,-50%);">
    <div>
      <p *ngFor="let user of myuser;trackBy:trackById">{{user.name}}</p>
    </div>

    <div>
      <button (click)="assaign()">add</button>
    </div>
</div>

